::selection {
    background-color: #90a4ae;
}
::-moz-selection {
    background-color: #90a4ae;
}

html *{
    color: #FFFFFF;
}

#projects i{
    color: #000000;
}

.highlight {
    color: #268bd2;
}

.blinking-cursor {
    /*font-weight: 100;*/
    /*font-size: 30px;*/
    color: #FFFFFF;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}



@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #5f8700;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #5f8700;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #5f8700;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #5f8700;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #5f8700;
    }
}