colors {
    /* Material */
    background-color: #37474f;
    background-color: #263238;

    /* Material Palenight */
    background-color: #292D3E;
    background-color: #444267;

    /* Discord fonts */
    color: #fff;
    color: hsla(0,0%,100%,.6);
    color: #7289da;
}