<div id="about" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- DETAILS -->
				<div id="about-card" class="card">
					<div class="card-content">
						<h2 class="center"> Hello my name is Erick and I am a Graduate with a <br>
							<span class="span_h2 indigo-text text-accent-1"> Ms in Software Engineering</span>. Born and raised in
							<br>
							<span class="span_h2" style="color:#69f0ae ;">Ciudad Juárez,</span>
							Chihuahua,
							<span class="span_h2 highlight" style="color: #ff5252;"> Mexico </span>
							<span class="span_h2 highlight" style="color: hsla(0,0%,100%,.6);"> / </span>
							El Paso
							<span class="span_h2 highlight" style="color: #7289da;"> Texas </span>
							<br>
							<br>
						</h2>
						<h1 class="center" style="color: hsla(0,0%,100%,.6);">Keep it <span style="color: #7289da;">simple</span>
						</h1>
					</div>

					<!-- BUTTONS -->
					<div id="about-btn" class="card-action">
						<div class="about-btn">
							<a href="http://erick-garcia.com/resources/resume-extended.pdf" class="btn waves-effect">C V</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>