<header id="home">
	<nav id="theMenu" class="menu">

		<!--MENU-->
		<div id="menu-options" class="menu-wrap">

			<!--PERSONAL LOGO-->
			<div class="logo-flat">
				<img alt="personal-logo" class="img-responsive" style="border-radius:50%;" src="/resources/senjougahara.jpg">
			</div>
			<br>

			<!--OPTIONS-->
			<a href="#home"><i class="title-icon fa fa-user"></i>Home</a>
			<a href="https://blog.erick-garcia.com"><i class="title-icon fa fa-align-left"></i>Blog</a>
			<a href="/resources/resume-extended.pdf"><i class="title-icon fa fa-graduation-cap"></i>CV</a>
		</div>

		<!-- MENU BUTTON -->
		<div id="menuToggle">
			<div class="toggle-normal">
				<i class="material-icons top-bar">remove</i>
				<i class="material-icons middle-bar">remove</i>
				<i class="material-icons bottom-bar">remove</i>
			</div>
		</div>
	</nav>

	<!--HEADER BACKGROUND-->
	<div class="header-background section"></div>

</header>
