<section id="portfolios" class="section">
	<div class="container">
		<!-- SECTION TITLE -->
		<div class="section-title">
			<h4 class="text-uppercase text-center"><img src="images/icons/heart.png" alt="demo">Cool Stuff</h4>
		</div>
		<div id="portfolios-card" class="row">

			<!--CATEGORIES CONTENT-->
			<div class="tab-content">

				<!--All CATEGORIES-->
				<div id="all"></div>

				<!--CATEGORY 1-->
				<div id="a"> 

					<!--CATEGORY CONTENT ONE BIG-->
					<div class="col-md-4 col-sm-12 col-xs-12 grid big inLeft">
						<figure class="port-effect-scale">
							<img src="https://i.imgur.com/aFPO1q1.png" class="img-responsive" alt="portfolio-demo" />
							<figcaption>
								<h2>My <span> Battlestation</span></h2>
								<p>My favorite and most sacred place. I do most of my projects and gaming here.</p>
								<a href="https://i.imgur.com/aFPO1q1.png" class="popup-image" data-effect="mfp-3d-unfold">View
									more</a>
							</figcaption>
						</figure>
					</div>

					<!--CATEGORY CONTENT TWO SMALL-->
					<div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
						<figure class="port-effect-scale">
							<img
								src="https://78.media.tumblr.com/ac98d1e1bd8e3ad7dd0d58c6a3880aab/tumblr_mq5i32FUZy1r9iya0o3_1280.jpg"
								class="img-responsive" alt="portfolio-demo" />
							<figcaption>
								<h2><i class="fa fa-play-circle" aria-hidden="true"></i>My <span> Music</span>
								</h2>
								<p>I used to record music for my channel during my free time</p>
								<a class="popup-youtube" href="http://www.youtube.com/watch?v=O5i75jj69rU">View more</a>
							</figcaption>
						</figure>
					</div>

					<!--CATEGORY CONTENT THREE SMALL-->
					<div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
						<figure class="port-effect-up">
							<img src="https://i.imgur.com/GW9l7Dj.png" class="img-responsive" alt="portfolio-demo" />
							<figcaption>
								<h2>My <span> Techwear</span></h2>
								<p>Tactical clothing - Find out more at r/techwearclothing</p>
								<a href="https://i.imgur.com/GW9l7Dj.png" class="popup-image" data-effect="mfp-move-horizontal">View
									more</a>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>