<div id="v-card-holder" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<!-- V-CARD -->
				<div id="v-card" class="card">

					<!-- PROFILE PICTURE -->
					<div id="profile" class="right">
						<img alt="profile-image" class="img-responsive" src="img/profile_2019.jpg">
						<div class="slant"></div>

						<!--EMPTY PLUS BUTTON-->
						<!--<div class="btn-floating btn-large add-btn"><i class="material-icons">add</i></div>-->

						<!--VIDEO PLAY BUTTON-->
						<div id="button-holder" class="btn-holder">
							<div id="play-btn" class="btn-floating btn-large btn-play">
								<i id="icon-play" class="material-icons">play_arrow</i>
							</div>
						</div>
					</div>
					<!--VIDEO CLOSE BUTTON-->
					<div id="close-btn" class="btn-floating icon-close">
						<i class="fa fa-times"></i>
					</div>

					<div class="card-content">

						<!-- NAME & STATUS -->
						<div class="info-headings">
							<h4 class="text-uppercase left">ERICK GARCIA</h4>
							<h6 class="text-capitalize left">Software Developer | UX Designer</h6>
						</div>

						<!-- CONTACT INFO -->
						<div class="infos">
							<ul class="profile-list">
								<li class="clearfix">
									<span class="title"><i class="material-icons">email</i></span>
									<span class="content">me@erick-garcia.com</span>
								</li>
								<li class="clearfix">
									<span class="title"><i class="material-icons">language</i></span>
									<span class="content">erick-garcia.com</span>
								</li>
								<li class="clearfix">
									<span class="title"><i class="material-icons">phone</i></span>
									<span class="content">+1 915 5386953</span>
								</li>
								<li class="clearfix">
									<span class="title"><i class="material-icons">place</i></span>
									<span class="content">Phoenix, AZ</span>
								</li>

							</ul>
						</div>

						<!--LINKS-->
						<div class="links">
							<a href="https://github.com/garciaErick/" class="social"><i class="fab fa-github"></i></a>
							<!-- <a href="https://www.facebook.com/erickcubanoide" id="first_one"
                          class="social"><i
                          class="fab fa-facebook fa-3x"></i></a> -->
							<!-- TWITTER-->
							<!-- <a href="http://twitter.com/blaksephirot" class="social"><i
                        class="fab fa-twitter"></i></a> -->
							<!-- GOOGLE+-->
							<a href="https://www.youtube.com/user/blaksephirot" class="social ">
								<i class="fab fa-youtube"></i></a>
							<!-- LINKEDIN-->
							<a href="http://linkedin.com/in/garciaerickcs/" class="social"><i class="fab fa-linkedin"></i></a>
							<!-- RSS-->
							<a href="https://steamcommunity.com/id/blaksephirot" class="social"><i class="fab fa-steam"></i></a>
							<a href="http://instagram.com/tsunderick/" class="social"><i class="fab fa-instagram"></i></a>
							<a href="http://twitch.tv/tsunderick.com/" class="social"><i class="fab fa-twitch"></i></a>
						</div>
					</div>
					<iframe id="html-video" class="video" poster="images/poster/poster.jpg"
						src="https://www.youtube.com/embed/PCp2iXA1uLE" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
